kinya_flex_tts_base_trained.pt
__pycache__/
*.py[cod]
**/__pycache__/
**/**/__pycache__/
**/**/**/__pycache__/
**/**/**/**/__pycache__/
**/**/**/**/**/__pycache__/
**/**/**/**/**/**/__pycache__/
**/**/**/**/**/**/**/__pycache__/
**/**/**/**/**/**/**/**/__pycache__/

__pycache__
**/__pycache__
**/**/__pycache__
**/**/**/__pycache__
**/**/**/**/__pycache__
**/**/**/**/**/__pycache__
**/**/**/**/**/**/__pycache__
**/**/**/**/**/**/**/__pycache__
**/**/**/**/**/**/**/**/__pycache__

.ipynb_checkpoints
*.ipynb_checkpoints
node_modules/
dist/
build/
**/node_modules/
**/dist/
**/build/
**/**/node_modules/
**/**/dist/
**/**/build/