__pycache__/
*.py[cod]
**/__pycache__/
**/**/__pycache__/
**/**/**/__pycache__/
**/**/**/**/__pycache__/
**/**/**/**/**/__pycache__/
**/**/**/**/**/**/__pycache__/
**/**/**/**/**/**/**/__pycache__/
**/**/**/**/**/**/**/**/__pycache__/

__pycache__
**/__pycache__
**/**/__pycache__
**/**/**/__pycache__
**/**/**/**/__pycache__
**/**/**/**/**/__pycache__
**/**/**/**/**/**/__pycache__
**/**/**/**/**/**/**/__pycache__
**/**/**/**/**/**/**/**/__pycache__

DeepKIN-AgAI/deepkin.egg-info
DeepKIN-AgAI/monotonic_align/build
DeepKIN-AgAI/monotonic_align.egg-info

deepkin.egg-info
monotonic_align/build
monotonic_align.egg-info